<html>
    <head>

    </head>
    <body>
        <style>
		.tg{
			border:1px solid black;
			
		 }
	    .tg-yw4l{
		/*text-decoration: underline;*/
		border:1px solid black;
		}
		.label-underlined{
			text-decoration: underline;
		}
        </style>
    <table class="tg" cellspacing="0" cellpadding="0">
  <tr>
    <th class="tg-yw4l" colspan="3">
	KETERANGAN PEMEGANG
	<br/>
	DESCRIPTION OF THE BARRER
	</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Nama</td>
    <td class="tg-yw4l">:</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">Kewarganegaraan</td>
    <td class="tg-yw4l">:</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">tempat &amp; tgl lahir</td>
    <td class="tg-yw4l">:</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">alamat</td>
    <td class="tg-yw4l" colspan="2" rowspan="2">Image here</td>
  </tr>
  <tr>
    <td class="tg-031e">tinggi</td>
  </tr>
</table>
    </body>
</html>
